.post {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--white);

  border-top: 1px solid rgb(219, 219, 219);
  padding-top: 10px;
}

.post:hover {
  cursor: pointer;
  background-color: rgb(241, 241, 241);
}

.post .author {
  display: flex;
  height: 40px;

  flex-direction: row;
  margin-bottom: 10px;
  padding-left: 15px;
}

.post .info .date {
  line-height: 15px;
  cursor: default;
}

.post .info .liked {
  z-index: 10;
  line-height: 15px;
  color: var(--light-blue);
  transition: transform 0.2s;
}

.post .info .liked:hover {
  cursor: pointer;
  font-size: 15px;
  transform: scale(1.5);
}

.post .info .likes-count {
  font-size: smaller;
}

.post .info .not-liked {
}

.post .info .not-liked:hover {
  color: red;
  transform: scale(1.5);
  font-size: 15px;
}

.post .author .displayname {
  font-size: medium;
  padding-left: 5px;
  color: var(--black);
  margin-top: auto;
  margin-bottom: auto;
}
.post .author .username {
  color: #8a8a8a;
  margin-left: 5px;
  font-size: smaller;
  margin-top: auto;
  margin-bottom: 5px;
}

.post .content .title {
  font-size: xx-large;
  margin-left: 15px;
  color: var(--black);
  margin-top: auto;
  margin-bottom: auto;
}

.post .author .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font: 1.2em sans-serif;
  color: var(--white);
  width: 40px;
  background: var(--light-blue);
  border-radius: 100%;
}

.post .title {
  color: var(--white);
}

.post .content {
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  color: var(--black);
}

.post .content .info {
  display: flex;
}

.post .content .info .date {
  color: #8a8a8a;
  font-size: smaller;
  padding-left: 15px;
  padding-right: 15px;
}

.post .content .info .date {
  color: #8a8a8a;
  font-size: smaller;
  padding-left: 15px;
  padding-right: 15px;
}
.post .content .info .likes {
  color: #8a8a8a;
  font-size: smaller;
  padding-left: 15px;
  padding-right: 15px;
}

.post .content a {
  color: rgb(29, 155, 240);
}

.post .content a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1200px) {
  .post {
    min-width: 0;
    width: auto;
    max-width: 500px;
  }

  .post .content {
    font-size: small;
  }

  .post .content .title {
    font-size: medium;
  }

  .post .content a {
    font-size: small;
  }
}
