.login-page {
  display: flex;

  flex-direction: column;
}

.login-page .form {
  margin-bottom: 25px;
  background-color: var(--dark-blue);
  border-radius: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  min-width: 450px;
}

.login-page .form .input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-page .form .input-form input {
  padding: 1em 1em 1em 1.5em;
  margin: 1em auto;
  border: 0;
  width: 300px;
  background: #eee;
  border-radius: 50px;
}

.login-page .form .input-form button {
  width: 230px;
  background: var(--light-blue);
  color: var(--colorWhite);
  text-align: center;
  padding: 15px;
  margin-top: 5px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: bold;
  border: 0;
  margin-bottom: 15px;
}

.login-page .form .input-form button:hover {
  --light-blue: #1d9bf0ee;
  cursor: pointer;
}

.login-page .message .link {
  color: var(--light-blue);
}

.login-page .message .link:hover {
  cursor: pointer;
  --light-blue: #1d9bf0ee;
  color: var(--light-blue);
}

.login-page .errors {
  color: var(--light-red);
}
