:root {
  --yellow: #fdf0d5;
  --light-blue: #669bbc;
  --dark-blue: #003049;
  --light-red: #c1121f;
  --dark-red: #780000;
  --white: #fff;
  --black: #0e0e0e;
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
